/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /**** Mobile First *****/
   /****** BASE STYLES ******/
   /******* Color Scheme light grey #F8F8F8 ******/

   body, html {
     font-family: 'Ubuntu', sans-serif;
     font-size: 16px;
   }

   p {
     font-size: 1em;
     line-height: 1.4;
   }

   h1,h2,h3,h4 {
     font-weight: 700;
   }

     h1 {
       font-size: 3.5em;
     }

     h2 {
       font-size: 1.3em;
     }

     h3 {
       font-size: 1.2em;
       text-align: center;
     }

     h4 {
       text-transform: uppercase;
       font-weight: bold;
       font-size: 1.2em;
     }

    nav {
     text-transform: uppercase;
   }

     /****** Header CSS mobile ******/
     .header {
       width: 100%;
       background-color: #0D4F8B;
       border-bottom: 3px solid #75cb00;
       margin: auto;
     }

     h1 {
       margin-top: 0;
       padding-top: 10px;
       margin-bottom: 0;
       color: white;
       font-family: 'Comfortaa', cursive;
       font-variant: small-caps;
       text-align: center;
     }

     h2 {
       color: white;
       text-align: center;
       margin-top: 0;
       font-family: 'Comfortaa', cursive;
     }

     h3, h4 {
       text-align: center;
     }

     header nav {
       display: none;
     }

/***** Main CSS mobile *****/

     main {
       width: 96%;
       padding: 0 2%;
       margin: auto;
       max-width: 960px;
     }

     .links a {
       color: #222;
       text-decoration: none;
     }

     .hi h3 {
       display: none;
     }
     .half p {
       display: none;
     }

    .about-mini {
      border-bottom: 3px solid #75cb00;
    }

    #motto {
      text-align: center;
    }

    /***** Work CSS mobile *****/
    .resize {
      width: 100%;
      height: auto;
    }

    .backroom {
      text-align: center;
    }

    #work {
      padding-bottom: 20px;
      border-bottom: 3px solid #75cb00;  /* move to footer? */
    }

    #work .third-width {
      margin-top: 20px;
      padding-top: 10px;
      background-color: #F8F8F8;
    }
    .backroom {
      display: none;
    }

    /****** Skill CSS mobile ******/
    #skills {
      display: none;
    }

    /****** Footer CSS mobile ******/
    footer {
      width: 96%;
      padding: 0 2%;
      margin: auto;
      max-width: 960px;
      margin-top: 10px;
    }

    footer img.sm-resize {
      width: 5%;
      height: auto;
    }

    nav {
      text-align: center;
    }

    nav ul li {
      display: inline-block;

    }

    nav ul li a {
      text-decoration: none;
      padding-right: 20px;
      float: left;
    }







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ?Sticky header?  50% for ipad, 33% for desktop.  */

   @media (min-width:768px) {
     /***** Global styles tablet ******/
     h4 {
       font-size: 1.2em;
     }

    /* Header CSS tablet =========================== */
    .header{
        width:94%;
        max-width: 960px;
        margin: auto;
        padding: 0 3%;
    }

    header h1 {
      padding-top: 40px;
      width: 40%;
      margin-right: 0;
      float: left;
    }

    header h2 {
      clear: both;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 40%;
      margin-left: 12px;
    }

    header nav {
      display: block;
      font-size: .75em;
      width: 55%;
      float: right;
      padding-top: 30px;
    }

    header nav ul li {
      display: inline-block;
    }

    header nav ul li a {
      text-decoration: none;
      padding-left: 5px;
      color: white;
    }

    /****** Main CSS tablet ******/
    main {
      width: 94%;
      max-width: 960px;
    }

    /****** About CSS tablet ******/

    .hi h4 {
      padding-top: 30px;
      display: block;
    }

    .half p {
      display: block;
      width: 45%;
      float: left;
    }

    #first-p p {
      margin-right: 55px;
    }

    .about-max {
      padding-bottom: 70px;
      border-bottom: 3px solid #75cb00;
    }

    .about-mini {
      display: none;
    }

    .about-contact {
      display: none;
    }

    /****** Work CSS tablet ******/
    #work-header {
      padding-top: 30px;
    }


    .third-width {
      width: 50%;
      height: 300px;
      padding-bottom: 20px;
      float: left;
    }

    .backroom {
      clear: both;
      padding-top: 40px;
    }

    .backroom {
      display: block;
      text-align: center;
    }

  /****** Skills CSS tablet *****/
  #skills {
    display: block;
  }

  #skills {
    padding-top: 40px;

    clear: both;
  }

  #skills h3{
    text-align: center;
  }

  #skills .full-width {
    padding-top: 20px;
    border-bottom: 3px solid #75cb00;
  }

  #skills p {
    text-align: center;
/*    margin-bottom: 80px; */
  }

  #skills .saying  {
    margin-bottom: 80px;
  }


/***** Footer CSS tablet ******/
    footer {
      clear: both;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    footer nav ul li {
      font-size: 2em;
      padding-right: 20px;
    }


}

    /****** desktop styles ******/
       @media (min-width: 1025px) {

    /**** Header CSS desktop *****/
      .header{
        width: 100%;
        max-width: 1200px;
      }

      header h1 {
        padding-top: 60px;
        width: 30%;
      }

      header h2 {
        width: 30%;
      }

      header nav ul li a {
        text-decoration: none;
        padding-left: 45px;
        color: white;
      }

    /***** Main CSS desktop ******/
    main {
      width: 87%;
      max-width: 1200px;
    }

    /****** About CSS desktop ******/

    .hi h4 {
      padding-top: 50px;
    }

    #first-p p {
      margin-right: 100px;
    }

    /****** Work CSS desktop ******/
    #work-header {
      padding-top: 50px;
    }

    .third-width {
      width: 33%;
    }

    .backroom {
      clear: both;
      padding-top: 40px;
    }

    #work img.resize {
      width: 100%;
      height: 75%;
      float: left;
    }
  }


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
